{% extends 'home/index.html' %}

{% block contents %}
<div>게시판</div>
<div><a href="{% url 'board:board_write' %}"><button>글쓰기</button></a></div>
<div style="border: 1px black solid; margin: 20px 0px"></div>

<div  class="board">
    <div class="py_board">
        <p>Python Board</p>
        {% for board in py_boards %}
        {% if board %}
        <a href="/board/detail/{{ board.id }}" target="_self">
            <div>{{ board.title }} / {{ board.writer }} / {{ board.write_dttm }}</div>
        </a>
        {% endif %}
        {% endfor %}
    </div>
    <div class="js_board">
        <p>Javascript Board</p>
        {% for board in js_boards %}
        {% if board %}
        <a href="/board/detail/{{ board.id }}" target="_self">
            <div>{{ board.title }} / {{ board.writer }} / {{ board.write.dttm }}</div>
        </a>
        {% endif %}
        {% endfor %}
    </div>
</div>

<style>
    .board {
        display: flex;
    }
    .py_board {
        width: 50%;
    }
    .js_board {
        width: 50%;
        border-left: 2px black double;
        padding-left: 25px;
    }
</style>
{% endblock contents %}